{% extends 'base.html' %}
{% load staticfiles %}
{% block userbody %}
<style>
.formin{
    width: 20%;
    height: 30%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding:5px;
    background-color:red;
}
.formin table{
margin-left:20px;
}
table{
height:100%;
}
input[type=submit]{
border:1px solid white;
background:none;
text-transform:uppercase;
color:white;
}
input[type=submit]:hover{
background:white;
color:red;
}
table{
margin-left:100px;
margin-top:50px;
}
</style>
<table>
<tr>
<td><img src="{{obj.imagesCurrency.url}}" style="width:200px;height:200px;"></td>
<td><img src="{% static 'image/greyscale.png' %}" style="width:200px;height:200px;"></td>
<td><img src="{% static 'image/rgba.png' %}" style="width:200px;height:200px;"></td>
<td><img src="{% static 'image/gi.png' %}" style="width:200px;height:200px;"></td>
</tr>
<tr>
<td><p style="color:white;text-align:center;">Original Image</p></td>
<td><p style="color:white;text-align:center;">Process 1: Scale Conversion</p></td>
<td><p style="color:white;text-align:center;">Process 2: Image RGB calc</p></td>
<td><p style="color:white;text-align:center;">Process 3: Green Transformation</p></td>
</tr>
<tr>
<td><img src="{% static 'image/bi.png' %}" style="width:200px;height:200px;"></td>
<td><img src="{% static 'image/ri.png' %}" style="width:200px;height:200px;"></td>
<td colspan="3" style="text-align: center;vertical-align: middle;"><a style="color:white;border:1px solid white;padding:10px;" href="{% url 'viewlist' pk %}">Click to Find Currency</a></td>
</tr>
<tr>
<td><p style="color:white;text-align:center;">Process 4: Blue Transformation</p></td>
<td><p style="color:white;text-align:center;">Process 5: Red Transformation</p></td>
</tr>
{% endblock %}