{% extends 'admins/base.html' %}
{% load staticfiles %}
{% block userbody %}
<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Country Based Analysis"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00'%'",
		indexLabel: "{label} {y}",
		dataPoints: [
        {% for c in cur %}
			{ y: {{c.total}}, label: "{{c.country}}" },
        {% endfor %}
			/*{y: 79.45, label: "Google"},
			{y: 7.31, label: "Bing"},
			{y: 7.06, label: "Baidu"},
			{y: 4.91, label: "Yahoo"},
			{y: 1.26, label: "Others"}*/
		]
	}]
});
chart.render();

}
</script>
</head>
<body>
<br/><br/><br/><br/><br/>
<div id="chartContainer" style="height: 570px; max-width: 920px; margin: 0px auto;"></div>
<script src="{% static 'js/canvasjs.min.js' %}"></script>

{% endblock %}